<main>
    <app-sidebar></app-sidebar>
    <div style="width: 100%;">
        <app-topbar style="width: 100%;"></app-topbar>
        <div class="conteudo">
            <p class="titulo">Pessoas</p>
            <section>
                <mat-card appearance="outlined">
                    <mat-card-content>CADASTRO DE PESSOA
                        <mat-icon>add_circle</mat-icon>
                    </mat-card-content>
                </mat-card>
                <mat-card appearance="outlined">
                    <mat-card-content>LISTAGEM DE PESSOAS
                        <mat-icon>list</mat-icon>
                    </mat-card-content>
                </mat-card>
            </section>
            <p class="titulo">Ordens de Serviço</p>
            <section>
                <mat-card appearance="outlined">
                    <mat-card-content>LANÇAR OS
                        <mat-icon>add_circle</mat-icon>
                    </mat-card-content>
                </mat-card>
                <mat-card appearance="outlined">
                    <mat-card-content>APROVAR OS
                        <mat-icon>check_circle</mat-icon>
                    </mat-card-content>
                </mat-card>
                <mat-card appearance="outlined">
                    <mat-card-content>LISTAGEM DE OS
                        <mat-icon>list</mat-icon>
                    </mat-card-content>
                </mat-card>

            </section>
        </div>
    </div>
</main>