<mat-toolbar>
    <div class="menuEsquerdo">
        <p>IT Advanced (Rio de Janeiro) - Matriz</p>
    </div>

    <button style="width: 40%;" mat-stroked-button (click)="openDialog()" 
    matTooltip="Você pode utilizar Alt + q">Pesquisar</button>

    <div class="menuDireito" [matMenuTriggerFor]="menuConfig" style="display: flex; flex-direction: row; align-items: center; cursor: pointer;">
        <p>{{NomeUsuario}}</p>
        <button mat-icon-button class="botaoIcone" aria-label="Example icon-button with heart icon">
            <mat-icon>face</mat-icon>
        </button>
        <mat-menu #menuConfig="matMenu">
            <button mat-menu-item disabled>
                <mat-icon>person</mat-icon>
                <span>Meu Perfil</span>
            </button>
            <button mat-menu-item disabled>
                <mat-icon>email</mat-icon>
                <span>Minha Conta</span>
            </button>
            <button (click)="logout()" mat-menu-item>
                <mat-icon>logout</mat-icon>
                <span>Sair da Conta</span>
            </button>
        </mat-menu>
    </div>
</mat-toolbar>
