<main>

    <mat-card appearance="outlined">

        <mat-card-header>

            <div class="logout">
                <button mat-mini-fab matTooltip="Logout" (click)="voltar()">
                    <mat-icon>logout</mat-icon>
                </button>
            </div>

        </mat-card-header>
        <div class="perfil">
            <p>{{NomeUsuario}}</p>
        </div>


        <mat-card-content>

            <form class="example-form">

                <mat-form-field appearance="outline">
                    <input [matAutocomplete]="filial" matInput  placeholder="Digite o Código Filial" >
                    <mat-autocomplete #filial="matAutocomplete">
                        @for (empresa of seletorData.empresas; track $index) {
                          <mat-option style="display: flex; width: 84%;" (click)="handleFilial(empresa)" [value]="empresa.filial" [matBadge]="empresa.filial" matBadgeColor="primary" matBadgeSize="large" matBadgePosition="above">{{empresa.nome}}</mat-option>
                        }
                      </mat-autocomplete>
                    <mat-icon matSuffix>business</mat-icon>
                </mat-form-field>
                
                @if (seletorData.empresas == "") {
                    <mat-form-field appearance="outline">
                        <mat-select placeholder="Selecione o Módulo" disabled="true">
                            @for (modulo of modulos; track modulo) {
                            <mat-option [value]="modulo">{{modulo}}</mat-option>
                            }
                        </mat-select>
                    </mat-form-field>
                }
                @else {
                    <mat-form-field appearance="outline">
                        <mat-select placeholder="Selecione o Módulo" >
                            @for (modulo of modulos; track modulo) {
                            <mat-option [value]="modulo">{{modulo}}</mat-option>
                            }
                        </mat-select>
                    </mat-form-field>
                }
                

            </form>


            <br>

        </mat-card-content>

        <mat-card-actions>

            <button mat-flat-button (click)="prosseguir()">Salvar e Prosseguir</button>

        </mat-card-actions>

    </mat-card>

</main>