:root {
    --ita-light-blue: #4A80FF;
    --ita-blue: #183884;
    --ita-light-gray: whitesmoke;
}

main {
    background-image: linear-gradient(to bottom right, #4A80FF, #183884);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

mat-card {
    background-color: whitesmoke !important;
    display: flex;
    padding: 1%;
    width: 90%;
    max-width: 400px;
    height: fit-content;
}

mat-icon {
    color: #183884;
}

mat-card-actions {
    justify-content: center;
}

mat-card-content {
    display: flex;
    flex-direction: column;
}

mat-card-title {
    font-size: 3vw;
    color: #183884;
    margin-top: 5%;
    margin-bottom: 10%;
    margin-left: 1vw;
    font-weight: 600;
}

mat-form-field {
    width: 100% !important;
}

.logout{
    button{
        background-color: #ba251d;
    }
    mat-icon{
        color: white;
        padding: 1vh;
    }
}

button {
    width: 100%;
    padding: 6%;
    background-color: #274EA9;
    border-radius: 10px;
}

img {
    width: 4vw;
    height: 4vw;
}

mat-input {
    background-color: whitesmoke !important;
}

.header {
    margin-top: 4%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-self: center;
}

mat-form-field{
    background-color: transparent !important;
}
mat-label{
    background-color: transparent !important;
}
mat-select{
    background-color: transparent !important;
}
mat-option{
    background-color: transparent !important;
}

.perfil{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: #3a3a3a;
    gap: 0.3vw;
    width: 100%;
    align-self: center;
    p{
        text-transform: uppercase;
        font-weight: bolder;
        font-size: 100%;
        color: #183884;
    }
}
@media only screen and (max-width: 800px) {
    img {
        display: none;
    }

    mat-card {
        margin: 18%;
    }

    mat-card-title {
        font-size: 5vw;
    }

}

@media only screen and (max-width: 430px) {
    img {
        display: none;
    }

    mat-card {
        margin: 30%;
    }

    mat-card-title {
        font-size: 9vw;
    }

}